<div class="lists row">
  <div class="col-lg-2 col-xxxl-2"></div>
  <div class="col-md-12 col-lg-8 col-xxxl-8">
    <nb-card class="list-card">
      <nb-card-header>Account Withdrawal</nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <h4 class="grid-h">Withdrawable amount: </h4>
          <div class="col-md-4">
            <div><h4>1000.00 USD</h4></div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Exchange Method:</div>
          <div class="col-md-7">
            <div>Real Time exchange rate on trading days</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Current Reference Exchange Rate:</div>
          <div class="col-md-5">
            <div>0.123</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Application Amount:</div>
          <div class="col-md-7">
            <div>12300</div>
          </div>
        </div>
        <!--        <nb-list>-->
        <!--          <nb-list-item *ngFor="let fruit of fruits">-->
        <!--            {{ fruit }}-->
        <!--          </nb-list-item>-->
        <!--        </nb-list>-->
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-2 col-xxxl-2"></div>

  <div class="col-lg-2 col-xxxl-2"></div>
  <div class="col-md-12 col-lg-8 col-xxxl-8">
    <nb-card class="list-card">
      <nb-card-header>Receiving Account</nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Title Of Account:</div>
          <div class="col-md-8">
            <div>Hidetaka Miyazaki</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Bank Account:</div>
          <div class="col-md-8">
            <div>123456 ****** 123456</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-1"></div>
          <div class="grid-h">Currency Typies:</div>
          <div class="col-md-8">
            <div>USD</div>
          </div>
        </div>
        <!--        <nb-list>-->
        <!--          <nb-list-item *ngFor="let fruit of fruits">-->
        <!--            {{ fruit }}-->
        <!--          </nb-list-item>-->
        <!--        </nb-list>-->
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-2 col-xxxl-2"></div>
  <!--  <div class="col-lg-6 col-xxxl-6"></div>-->
  <button nbButton onclick="window.location.href='http://localhost:4200/pages/layout/stepper'" size="giant"
          style="display:block;margin:0 auto">Withdrawal
  </button>


  <!--  <div class="col-md-12 col-lg-6 col-xxxl-6">-->
  <!--    <nb-card class="list-card" size="small">-->
  <!--      <nb-card-header>Users</nb-card-header>-->
  <!--      <nb-list>-->
  <!--        <nb-list-item *ngFor="let user of users">-->
  <!--          <nb-user [name]="user.name" [title]="user.title">-->
  <!--          </nb-user>-->
  <!--        </nb-list-item>-->
  <!--      </nb-list>-->
  <!--    </nb-card>-->
  <!--  </div>-->
</div>
